# Exclude bulky directories
.git/
.idea/
.vscode/
node_modules/
coverage/
.pytest_cache/
docs/
examples/

# Python artifacts
__pycache__/
*.pyc
venv/

# Environment files
.env.local

# Logs
logs/
*.log

# Large or generated data
large_data/

# Local development directories
notebooks/
cypress/

# Tests
tests/
unit_tests/

# Additional directories
htmlcov/
