# Exclude bulky directories
.git/
.idea/
.vscode/
node_modules/
coverage/
.pytest_cache/
docs/
examples/
dist/
build/

# Python artifacts
pycache/
.pyc
.pyo
.pyd
venv/
.mypy_cache/

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Large or generated data
large_data/

# Local development directories
notebooks/
cypress/

# Tests and coverage
tests/
unit_tests/
htmlcov/
.coverage

# Additional directories
scripts/
