black
isort
flake8
pre-commit
mypy
types-bleach
types-hvac
types-psutil
types-requests
bandit
pytest
pytest-cov
safety==3.6.0
PyYAML==6.0.2
psutil>=5.9.0
pip-audit
mlflow
boto3
flask-apispec<0.12
locust
-r requirements-test.txt
