openapi: 3.0.3
info:
  title: Yōsai Intel Dashboard API
  version: 1.0.0
  description: |
    Physical security intelligence and access control API.
servers:
  - url: https://api.yosai.com
    description: Production
  - url: https://staging-api.yosai.com
    description: Staging
  - url: http://localhost:8080
    description: Development
security:
  - jwtAuth: []
  - csrfToken: []
paths:
  /api/v1/csrf-token:
    get:
      summary: Get CSRF token
      operationId: getCsrfToken
      responses:
        '200':
          description: CSRF token
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrf_token:
                    type: string
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /upload:

    post:
      summary: Upload a file
      operationId: uploadFile
      responses:
        '200':
          description: Upload result
  /api/v1/settings:
    get:
      summary: Get user settings
      operationId: getSettings
      responses:
        '200':
          description: Successful response
    post:
      summary: Update user settings
      operationId: updateSettings
      responses:
        '200':
          description: Successful response
  /api/v1/token/refresh:
    post:
      summary: Refresh access token
      operationId: refreshToken
      responses:
        '200':
          description: New access token
  /api/v1/analytics/patterns:
    get:
      summary: Summarize access patterns
      operationId: getPatterns
      responses:
        '200':
          description: Analytics summary
  /api/v1/analytics/sources:
    get:
      summary: List data sources
      operationId: getSources
      responses:
        '200':
          description: Data sources
  /api/v1/analytics/health:
    get:
      summary: Analytics service health
      operationId: analyticsHealth
      responses:
        '200':
          description: Health status
  /api/v1/analytics/chart/{chart_type}:
    get:
      summary: Retrieve chart data
      operationId: getChartData
      parameters:
        - in: path
          name: chart_type
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Chart data
  /api/v1/model-monitoring/{model_name}:
    get:
      summary: Get model monitoring events
      operationId: getModelMonitoringEvents
      parameters:
        - in: path
          name: model_name
          schema:
            type: string
          required: true
        - in: query
          name: start
          schema:
            type: string
            format: date-time
        - in: query
          name: end
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Monitoring events
  /api/v1/explanations/{prediction_id}:
    get:
      summary: Get prediction explanation
      operationId: getExplanation
      parameters:
        - in: path
          name: prediction_id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Explanation payload
  /api/v1/feature-flags:
    get:
      summary: List feature flags
      operationId: listFeatureFlags
      responses:
        '200':
          description: Flags
    post:
      summary: Create feature flag
      operationId: createFeatureFlag
      responses:
        '201':
          description: Created
  /api/v1/feature-flags/{name}:
    get:
      summary: Get feature flag
      operationId: getFeatureFlag
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Flag
    put:
      summary: Update feature flag
      operationId: updateFeatureFlag
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Updated flag
    delete:
      summary: Delete feature flag
      operationId: deleteFeatureFlag
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '204':
          description: Deleted
  /api/v1/feature-flags/{name}/audit:
    get:
      summary: Get feature flag audit history
      operationId: getFeatureFlagAudit
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Audit history
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          enum: [invalid_input, unauthorized, not_found, internal, unavailable]
        message:
          type: string
        details:
          description: Additional error details
          nullable: true
  securitySchemes:
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
