{
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "invalidRequest": {
                "summary": "Invalid request",
                "value": {
                  "code": "bad_request",
                  "message": "Invalid query parameter"
                }
              }
            }
          }
        },
        "description": "Bad request"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "resourceMissing": {
                "summary": "Requested resource not found",
                "value": {
                  "code": "not_found",
                  "message": "Event not found"
                }
              }
            }
          }
        },
        "description": "Resource not found"
      }
    },
    "schemas": {
      "AccessEvent": {
        "properties": {
          "door_id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "person_id": {
            "type": "string"
          },
          "result": {
            "enum": [
              "granted",
              "denied",
              "tailgating",
              "forced"
            ],
            "type": "string"
          },
          "timestamp": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "door_id",
          "timestamp"
        ],
        "type": "object"
      },
      "Error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "additionalProperties": true,
            "type": "object"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "EventListResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/AccessEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "apiKey": {
        "in": "header",
        "name": "X-API-Key",
        "type": "apiKey"
      },
      "bearerAuth": {
        "bearerFormat": "JWT",
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "contact": {
      "email": "api-support@yosai.com"
    },
    "description": "Physical security intelligence and access control API.\n\n# Authentication\nUse Bearer token (JWT) or API key authentication.\n\n# Versioning\nAPI version is included in the URL path (e.g., /v2/events).\n",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://yosai.com/terms",
    "title": "Yōsai Intel Dashboard API",
    "version": "2.0.0"
  },
  "openapi": "3.0.3",
  "paths": {
    "/events": {
      "get": {
        "operationId": "listAccessEvents",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "A list of events",
                    "value": {
                      "events": [
                        {
                          "event_id": "evt_123",
                          "person_id": "pers_456",
                          "door_id": "door_1",
                          "timestamp": "2024-05-01T10:00:00Z",
                          "result": "granted"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "List access events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "Return events occurring after this ISO-8601 timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Return events occurring before this ISO-8601 timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of events to skip before starting to collect the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ]
      }
    },
    "/v2/events/{event_id}": {
      "get": {
        "summary": "Retrieve a single access event",
        "operationId": "getAccessEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Unique identifier for the event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessEvent"
                },
                "examples": {
                  "success": {
                    "summary": "Event detail",
                    "value": {
                      "event_id": "evt_123",
                      "person_id": "pers_456",
                      "door_id": "door_1",
                      "timestamp": "2024-05-01T10:00:00Z",
                      "result": "granted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.yosai.com/v2"
    },
    {
      "description": "Staging",
      "url": "https://staging-api.yosai.com/v2"
    },
    {
      "description": "Development",
      "url": "http://localhost:8080/v2"
    }
  ],
  "tags": [
    {
      "description": "Access control events",
      "name": "Events"
    },
    {
      "description": "Analytics and reporting",
      "name": "Analytics"
    }
  ]
}
